extends layout

block content
    include navbar
    .uk-container.uk-text-center
        hr.uk-divider-icon.uk-padding.uk-margin-remove
        h1 Elddonet
        p Ett soloäventyr för åldrarna 6-10 år. Baserad på sagan med samma namn av H.C Anderssen.
        a(href="/story").uk-button.uk-button-primary Börja spela!
  
    script(src="/javascripts/index.js")