doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    // UIKit CSS
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/css/uikit.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    title= title
  body
    block content
    // UIKit JavaScript
    script(src='https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit.min.js')