.uk-navbar-container
    .uk-container(uk-navbar)
        .uk-navbar-left
            a(href="/").uk-navbar-item.uk-logo Maltes Coola Spel

        .uk-navbar-right
            ul.uk-navbar-nav
                li
                    a(href="") Link