.uk-navbar-container
    .uk-container(uk-navbar)
        .uk-navbar-left
            a(href="/").uk-navbar-item.uk-logo
                i.material-icons.md-36.uk-margin-small-right local_fire_department
                |Elddonet

        .uk-navbar-right
            ul.uk-navbar-nav
                li
                    a(href="") Link