extends layout

block content
    include navbar
    .uk-container.uk-text-center
        hr.uk-divider-icon.uk-padding.uk-margin-remove
        h1.body
        p.uk-margin-large-top
            a.link.left.uk-text-large
        p
            a.link.right.uk-text-large
  
    script(src="/javascripts/story.js")
